@use 'src/styles/vars';

.menu {
  color: var(--secondary-color);
  border-right: 1px solid hsla(0,0%,100%,.1);
  position: fixed;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  top: 0;
  width: 290px;
  transition: all .3s ease-in-out;
  font-size: vars.$text-size;
  font-weight: vars.$bold-weight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 1em;
  
  &-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    &-icon {
      font-size: 1.5em;
      color: vars.$react;
      animation: spin 3s linear infinite;
      margin-right: 0.3em;
    }
  }

  &-nav {

    &-li {
      margin-bottom: 2em;
      display: flex;
      align-items: center;
      
      &-link {
        margin-left: 0.5em;
      }
    }

    &-li:hover {
     cursor: pointer;
     color: var(--third-color); 
    }
  }

  &-copyright {
    font-weight: vars.$light-weight;
  }

  .selected {
    color: var(--third-color);
  }

  @media screen and (max-width: 1410px) {
    & {
      display: none;
    }
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
