@use 'sass:color';

$primary-color: #1D1E21;
$secondary-color: #F9F9FF;
$third-color: #BA2929;
// #BA2929
$primary-color-lightness: color.scale($primary-color, $lightness: -30%);
$third-color-opacity: color.adjust($third-color, $alpha: -0.4);

$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

$title-size: 36px;
$subtitle-size: 18px;
$text-size: 16px;

$react: #50BBD7; 
$html: #E55F2A;
$css: #1A6FB4;
$js: #E6B101;
$node: #85bd32;
$redux: rgb(118, 74, 188);
$postgresql: #416cdf;

