@use 'src/styles/vars';

.contact {
  height: 100vh;
  margin-left: 290px;
  color: vars.$secondary-color;
  border: 1px solid red;
  padding: 5em;

  &-content {
    width: 80%;
    margin: auto;
    
    &-title {
      font-size: vars.$title-size;
      font-weight: vars.$bold-weight;
    }

  }
}
