@use 'src/styles/vars';

.header {
  margin-left: 290px;
  display: flex;
  justify-content: space-around;
  background-color: vars.$primary-color;
  color: vars.$secondary-color;
  height: 100vh;
  padding-top: 7em;

  &-intro {
    text-align: center;
  }

  &-title {
    font-size: vars.$title-size;
    margin-bottom: 0.5em;
    font-weight: vars.$bold-weight;
  }
  
  &-subtitle {
    font-size: vars.$subtitle-size;
    margin-bottom: 0.5em;
  }

  &-list {
    font-size: 2em;
    display: flex;
    justify-content: center;

    &-icon {
      margin: 0.5em;
    }
  }
}
