@use 'src/styles/vars';

.header {
  margin-left: 290px;
  height: 90vh;
  color: var(--secondary-color);
  overflow-x: hidden;
  

    &-content {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-around;
      align-items: center;
      height: 86%;
      width: 100%;

      &-intro {
        margin: 0.5em;
      }
    
      &-title {
        font-size: vars.$title-size;
        margin-bottom: 0.5em;
        font-weight: vars.$bold-weight;
        text-align: center;
      }
      
      &-subtitle {
        font-size: vars.$subtitle-size;
        margin-bottom: 0.5em;
      }
    
      &-list {
        text-align: center;
        font-size: 2em;
        display: flex;
        justify-content: center;
    
        &-icon {
          margin: 0.5em;
        }
        
        &-icon:hover {
          color: var(--third-color);
        }
      }
    
      &-btn {
        color: #F4F6F7;
        text-align: center;
        background-color: var(--third-color);
        padding: 1em;
        font-weight: vars.$bold-weight;
        border-radius: 30px;
        max-width: 200px;
        cursor: pointer;
        margin: auto;
        
        &:hover {
          transform: scale(1.05);
        }
      }
    
      &-img {
        border: 1px solid red;
        width: 300px;
        height: 400px;
      }
    }
  

  &-scrool-down {
    margin: auto;
    width: 50px;
    height: 90px;
    border: 3px solid #333;
    border-radius: 60px;
    position: relative;
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #333;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }

  @media screen and (max-width: 1410px) {
    & {
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 730px) {
    &-content-img {
      width: 80%;
      height: auto;
    }
  }
}
