@use 'src/styles/vars';

.opinions {
  margin-left: 290px;
  color: var(--secondary-color);
  padding: 2.5em 5em;
  overflow-x: hidden;
  overflow-y: hidden;

  &-content {
    max-width: 100%;
    margin: auto;
  }

  &-title {
    font-size: vars.$title-size;
    font-weight: vars.$bold-weight;
  }

  &-container {
    margin-top: 5em; 
  }

  // Style swifter js swiper + slides
  .mySwiper {
    padding-bottom: 3em;
  }
  .swiper-slide {
    border-radius: 20px;
    background-color: var(--color-lightness);
    width: 300px;
    height: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    // @media screen and (max-width: 600px) {
    //   & {
    //     width: 250px;
    //     height: 400px;
    //   }
    // }
    
    
    &-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-position: center;
    }

    &-reviews {
      font-size: vars.$text-size;
      line-height: 1.5;
    }

    &-author {
      font-size: vars.$subtitle-size;
      font-weight: vars.$medium-weight;
    }

    &-job-city {
      font-weight: vars.$light-weight;
    }

  }

  // Style pagination swifter js

  .swiper-pagination {
    bottom: 0px;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--third-color);
  }

  .swiper-pagination-bullet{
    width: 25px;
    height: 5px;
    border-radius: 5px;
  }

  // Style arrows swifter js
  .swiper-button-prev {
    color: var(--third-color);
  }

  .swiper-button-next {
    color: var(--third-color);
  }

  @media screen and (max-width: 1410px) {
    & {
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 730px) {

    &-title {
      width: 80%;
      text-align: center;
      margin: auto;
    }
    & {
      padding: 2.5em 0;
    }

    &-container {
      width: 80%;
      margin: 5em auto 0 auto; 
    }

  }

  @media screen and (max-width: 450px) {
    .swiper-slide {
      width: 250px;
      
    }
  }
}
